{% extends 'base.html' %}
{% block content %}

<h1 class="text-2xl flex justify-center items-center">Finch List</h1>

{% for finch in finches %}
    <div class="flex justify-center items-center">
        <a href="{% url 'detail' finch.id %}" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">
            <span class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{{ finch.name }}</span>
            <p class="font-normal text-gray-700">Type: {{ finch.type }}</p>
            <p class="font-normal text-gray-700">Color: {{ finch.color }}</p>
        </a>
    </div>
{% endfor %}

{% endblock %}